/* здесь используйте глобальные переменные */
$base-color-text: #333333;
$basic-violet: #7859cf;
$violet-lite: #9070ec;
$lilac: #f0ebff;
$violet-dark: #593cac;
$base-gray: #bdbdbd;
$gray-lite: #e2e2e2;

$mobile: 767px;
$tablet: 768px;
$desktop: 1440px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-36: 36px;
$font-size-42: 42px;
$font-size-56: 56px;

