.badge {
  font-family: $montserrat;
  font-size: $font-size-12;
  line-height: 16px;
  font-weight: 700;
  color: $bg-basic-violet;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  width: 100%;

  @media (min-width: $desktop) {
    text-align: left;
  }
}

