input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

.filter-slider {
  margin-bottom: 34px;
}

.noUi-connect {
  background-color: $violet-lite;
  height: 4px;
}

.noUi-target {
  border: none;
  background-color: #e2e2e2;
  height: 2px;
}

.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

.noUi-handle {
  box-shadow: none;
  border-radius: 100%;
  background-color: #ffffff;
  border: 2px solid $violet-lite;
}

.noUi-horizontal .noUi-handle {
  width: 22px;
  height: 22px;
  top: -10px;
}

.noUi-horizontal .noUi-handle-upper {
  right: 0;
}

.noUi-handle:hover {
  width: 24px;
  height: 24px;
  border-color: #9070ec;
}

.noUi-handle:hover::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(120, 89, 207, 0.25);
}

.noUi-handle:focus,
.noUi-handle:focus-visible {
  outline: none;
  width: 24px;
  height: 24px;
  border-color: #9070ec;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(120, 89, 207, 0.25);
  }
}

.noUi-handle:active {
  width: 24px;
  height: 24px;
  border-color: $basic-violet;
}

.noUi-handle:active::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $basic-violet;
}

.noUi-target[disabled] {
  background-color: #e2e2e2;
  height: 2px;
}

.noUi-handle[disabled] {
  width: 24px;
  height: 24px;
  border-color: #bdbdbd;
  background-color: #f8f8f8;
  border-radius: 50%;
  cursor: not-allowed;
}

.noUi-connect[disabled] {
  background-color: #bdbdbd;
  height: 4px;
}

.noUi-handle[disabled]:hover {
  background-color: #f8f8f8;
  border-color: #bdbdbd;
}

.noUi-base[disabled] {
  cursor: not-allowed;
}

.noUi-origin[disabled] {
  cursor: not-allowed;
}
