/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

.filter-slider {
  margin-bottom: 34px;
}

.filter-slider__inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-slider__label {
  display: flex;
  align-items: center;
  width: 118px;
  height: 40px;

  @media (min-width: $tablet) {
    width: 87px;
  }

  @media (min-width: $desktop) {
    width: 134px;
  }
}

.filter-slider__input {
  width: 100%;
  font-size: $font-size-16;
  color: $base-gray;
  margin: 0 auto;
  border: 2px solid #9070ec;
  border-radius: 4px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 8px 10px;
  text-align: center;

  &:focus,
  &:focus-visible {
    outline: none;
    border: 2px solid $violet-dark;
  }

  &:disabled {
    border: 2px solid $gray-lite;
    color: $base-gray;

    &::placeholder {
      color: $base-gray; /* Цвет placeholder disabled */
    }
  }

  // &:not(:placeholder-shown),
  // &:focus { /* Добавляем &:focus, чтобы цвет менялся сразу при фокусе */
  //   color: #333333;
  // }
}

.filter-slider__input:not(:placeholder-shown) {
  color: #333333;
}

.filter-slider__line {
  content: "";
  width: 8px;
  height: 2px;
  background-color: #bdbdbd;

  @media (min-width: $desktop) {
    width: 10px;
  }
}

.noUi-connect {
  background-color: $violet-lite;
  height: 4px;
}

.noUi-target {
  border: none;
  background-color: #e2e2e2;
  height: 2px;
}

.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

.noUi-handle {
  box-shadow: none;
  border-radius: 100%;
  background-color: #ffffff;
  border: 2px solid $violet-lite;
}

.noUi-horizontal .noUi-handle {
  width: 22px;
  height: 22px;
  top: -10px;
}

.noUi-horizontal .noUi-handle-upper {
  right: 0;
}

.noUi-handle:hover {
  width: 24px;       /* Увеличиваем ширину */
  height: 24px;      /* Увеличиваем высоту */
  border-color: #9070ec; /* Меняем цвет рамки */
  /* background-color: transparent;  Убираем заливку (если нужно) */
}

.noUi-handle:hover::before {
  content: "";           /* Обязательно для псевдоэлемента */
  display: block;        /* Делаем псевдоэлемент блочным */
  position: absolute;     /* Абсолютное позиционирование */
  top: 50%;              /* Выравниваем по вертикали */
  left: 50%;             /* Выравниваем по горизонтали */
  transform: translate(-50%, -50%); /* Центрируем псевдоэлемент */
  width: 16px;          /* Ширина внутреннего круга */
  height: 16px;         /* Высота внутреннего круга */
  border-radius: 50%;    /* Делаем круглым */
  background-color: rgba(120, 89, 207, 0.25); /* Цвет внутреннего круга */
}

.noUi-handle:focus,
.noUi-handle:focus-visible {
  outline: none; /* Убираем стандартный outline */
  width: 24px;
  height: 24px;
  border-color: #9070ec;

  &::before {
    content: "";           /* Обязательно для псевдоэлемента */
    display: block;        /* Делаем псевдоэлемент блочным */
    position: absolute;     /* Абсолютное позиционирование */
    top: 50%;              /* Выравниваем по вертикали */
    left: 50%;             /* Выравниваем по горизонтали */
    transform: translate(-50%, -50%); /* Центрируем псевдоэлемент */
    width: 16px;          /* Ширина внутреннего круга */
    height: 16px;         /* Высота внутреннего круга */
    border-radius: 50%;    /* Делаем круглым */
    background-color: rgba(120, 89, 207, 0.25); /* Цвет внутреннего круга */
  }
}

.noUi-handle:active {
  width: 24px;       /* Увеличиваем ширину */
  height: 24px;      /* Увеличиваем высоту */
  border-color: $basic-violet;
}

.noUi-handle:active::before {
  content: "";           /* Обязательно для псевдоэлемента */
  display: block;        /* Делаем псевдоэлемент блочным */
  position: absolute;     /* Абсолютное позиционирование */
  top: 50%;              /* Выравниваем по вертикали */
  left: 50%;             /* Выравниваем по горизонтали */
  transform: translate(-50%, -50%); /* Центрируем псевдоэлемент */
  width: 16px;          /* Ширина внутреннего круга */
  height: 16px;         /* Высота внутреннего круга */
  border-radius: 50%;    /* Делаем круглым */
  background-color: $basic-violet; /* Цвет внутреннего круга */
}

.noUi-target[disabled] {
  background-color: #e2e2e2;
  height: 2px;
}

.noUi-handle[disabled] {
  width: 24px;
  height: 24px;
  border-color: #bdbdbd;
  background-color: #f8f8f8;
  border-radius: 50%; /* Делаем ручки круглыми */
  cursor: not-allowed; /* Меняем курсор */
}

.noUi-connect[disabled] {
  background-color: #bdbdbd;
  height: 4px; /* Явно указываем высоту, чтобы она не сбрасывалась */
}

.noUi-handle[disabled]:hover {
  background-color: #f8f8f8;
  border-color: #bdbdbd;
}

.noUi-base[disabled] {
  cursor: not-allowed;
}

.noUi-origin[disabled] {
  cursor: not-allowed;
}
