.main-nav {
  padding: 12px 0;
  position: relative;

  @media (min-width: $tablet) {
    padding: 0;
    width: 728px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop) {
    width: 1360px;
    padding: 0;
  }
}

// .main-nav--closed {

// }

.main-nav__container-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $desktop) {
    justify-content: space-between;
  }
}

.main-nav__container {
  display: flex;
  align-items: center;

  @media (min-width: $desktop) {
    gap: 20px;
    justify-content: space-between;
  }
}

.main-nav__user {
  @media (min-width: $tablet) {
    order: 1;
    margin-left: auto;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}


.main-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.main-nav__link {
  font-size: $font-size-12;
  line-height: 16px;
  font-weight: 500;
  color: $base-color-text;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    box-sizing: border-box;
    width: 103px;
    height: 80px;
    padding: 32px 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
  }

  @media (min-width: $desktop) {
    box-sizing: border-box;
    width: 103px;
    height: 80px;
    padding: 32px 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
  }
}

.main-nav__link--current {
  &::after {
    @media (min-width: $tablet) {
      content: "";
      background-color: #7859cf;
      height: 2px;
      position: absolute;
      top: 78px;
      left: 0;
      right: 0;
    }
  }
}

.main-nav__toggle {
  margin-left: auto;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  background: 0 0;
  padding: 0;
  z-index: 2;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  background-color: #000000;
  display: block;
  mask-repeat: no-repeat;
  width: 16px;
  height: 16px;
  mask-image: url("../../icons/burger.svg");
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  background-color: #000000;
  width: 18px;
  height: 18px;
  display: block;
  margin-left: 6px;
  margin-bottom: 5px;
  mask-repeat: no-repeat;
  mask-image: url("../../icons/close-menu.svg");
}
