.pagination__list {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    justify-content: flex-end;
  }
}

.pagination__button {
  min-width: 40px;
  height: 40px;
  border-radius: 4px;
  font-size: $font-size-16;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #7859cf;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 8px;
  position: relative;
}

.pagination__button--current {
  background-color: #f8f8f8;
  font-weight: 600;
  color: $base-color-text;
}

.pagination__button--back {
  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 6px;
    mask-image: url("../../icons/arrow-select.svg");
    mask-repeat: no-repeat;
    transform: rotate(90deg);
    margin: auto;
    background-color: #7859cf;

    @media (min-width: $tablet) {
      content: none;
    }
  }

  @media (min-width: $tablet) {
    padding: 0;
    width: 91px;
  }
}

.pagination__button--forward {
  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 6px;
    mask-image: url("../../icons/arrow-select.svg");
    mask-repeat: no-repeat;
    transform: rotate(-90deg);
    margin: auto;
    background-color: #7859cf;

    @media (min-width: $tablet) {
      content: none;
    }
  }

  @media (min-width: $tablet) {
    padding: 0;
    width: 91px;
  }
}

.pagination__button-text {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    padding: 8px 20px;
    font-size: $font-size-16;
    line-height: 24px;
    font-weight: 400;
    align-items: center;
  }
}
