.products {
  @media (min-width: $desktop) {
    width: auto;
  }
}

.products__wrapper-sort {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    justify-content: flex-end;
    margin-bottom: 30px;
  }
}

.products__sort {
  margin-top: 0;
  font-size: $font-size-16;
  line-height: 24px;
  font-weight: 600;
  color: $base-color-text;
  text-align: left;
  margin-right: 8px;
}

.products__sort-wrapper {
  width: 165px;
}

.products__select-control {
  border: none;
  font-family: $montserrat;
  font-size: $font-size-16;
  line-height: 24px;
  font-weight: 600;
  color: $bg-basic-violet;
  background-color: #f8f8f8;
  appearance: none;
  padding: 4px 10px;
  padding-right: 30px;
  background-image: url("../../icons/arrow-select.svg");
  background-size: 10px 6px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  outline: none;
}
