.promo-button {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: -20px;

  @media (min-width: $tablet) {
    top: -60px;
  }

  @media (min-width: $desktop) {
    top: -30px;
  }
}


.promo-button__slider {
  width: 20px;
  height: 656px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../../icons/arrow-slider.svg");
  background-size: 11px 20px;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: $desktop) {
    width: 80px;
    height: 714px;
  }
}

.promo-button__slider--forward {
  transform: rotate(180deg);
}
