.slider__controll {
  position: absolute;
  width: 100%;
  transform: translateY(250px);
  display: flex;
  justify-content: space-between;
}

.slider__button {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 256px;
  color: $basic-violet;
  background-color: #f3ebe1;
  border: none;
  cursor: pointer;
  background-image: url("../../icons/arrow-slider.svg");
  background-size: 11px 20px;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet) {
    width: 80px;
  }
}

.slider__button--forward {
  transform: rotate(180deg);
}

