.user__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;

  @media (min-width: $desktop) {
    gap: 20px;
  }
}

.user__link {
  text-decoration: none;
  position: relative;
  width: 60px;
  height: 60px;
  padding: 22px;
  align-items: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  &::before {
    content: "";
    display: block;
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $desktop) {
      padding: 0;
    }
  }

  &:hover::before,
  &:focus-visible::before,
  &:active::before {
    background-color: $basic-violet;
  }

  @media (max-width: 767px) {
    &:active {
      background-color: $lilac;
    }
  }

  @media (min-width: $tablet) {
    width: 60px;
    height: 80px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 32px 22px;
  }

  @media (min-width: $desktop) {
    width: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 32px 21px;

    &:active {
      background-color: $lilac;
    }
  }
}


.user__link--user {
  &::before {
    content: "";
    mask-image: url("../../icons/user-icon.svg");
    width: 16px;
    height: 16px;
  }
}

.user__link--union {
  &::before {
    content: "";
    mask-image: url("../../icons/union-icon.svg");
    width: 16px;
    height: 16px;
  }
}

.user__link.user__link--union {
  @media (min-width: $desktop) {
    width: auto;
  }
}

.user__text {
  display: none;
  font-size: $font-size-12;
  line-height: 16px;
  font-weight: 500;
  color: $base-color-text;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $desktop) {
    display: block;
  }
}

.user__link:active span,
.user__link:hover span,
.user__link:focus-visible span {
  @media (min-width: $desktop) {
    color: $basic-violet;
  }
}

